USE [master]
GO
/****** Object:  Database [CENTRAL]    Script Date: 21/8/2024 19:00:56 ******/
CREATE DATABASE [CENTRAL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CENTRAL', FILENAME = N'/var/opt/mssql/data/CENTRAL.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CENTRAL_log', FILENAME = N'/var/opt/mssql/data/CENTRAL_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CENTRAL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CENTRAL]
GO
/****** Object:  User [ADT02]    Script Date: 21/8/2024 19:00:56 ******/
CREATE USER [ADT02] FOR LOGIN [AUDITOR_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADT01]    Script Date: 21/8/2024 19:00:56 ******/
CREATE USER [ADT01] FOR LOGIN [AUDITOR_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM02]    Script Date: 21/8/2024 19:00:56 ******/
CREATE USER [ADM02] FOR LOGIN [ADMIN_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM01]    Script Date: 21/8/2024 19:00:56 ******/
CREATE USER [ADM01] FOR LOGIN [ADMIN_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  DatabaseRole [AUDITOR]    Script Date: 21/8/2024 19:00:56 ******/
CREATE ROLE [AUDITOR]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 21/8/2024 19:00:56 ******/
CREATE ROLE [ADMIN]
GO
ALTER ROLE [AUDITOR] ADD MEMBER [ADT02]
GO
ALTER ROLE [AUDITOR] ADD MEMBER [ADT01]
GO
ALTER ROLE [ADMIN] ADD MEMBER [ADM02]
GO
ALTER ROLE [ADMIN] ADD MEMBER [ADM01]
GO
/****** Object:  Schema [Catalogos]    Script Date: 21/8/2024 19:00:56 ******/
CREATE SCHEMA [Catalogos]
GO
/****** Object:  Schema [Reportes]    Script Date: 21/8/2024 19:00:56 ******/
CREATE SCHEMA [Reportes]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTableFields]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CREA funci�n de campos de una tabla
CREATE FUNCTION [dbo].[fnTableFields] (@Table VARCHAR(MAX), @Alias VARCHAR(10) = NULL)
	RETURNS VARCHAR(MAX)
AS
BEGIN
	DECLARE @idTable INT, @strFields VARCHAR(MAX);

	SET @idTable = (SELECT sObj.id FROM sys.sysobjects AS sObj WHERE name = @Table);

	SET @strFields = (SELECT STUFF( 
							(SELECT CAST(' +' + CHAR(39)+ ',' + CHAR(39) + '+ ' AS varchar(MAX)),  
								(CASE  
									WHEN tp.name IN ('bigint','smallint', 'int', 'smalldatetime', 'tinyint', 'numeric', 'datetime', 'date', 'time', 'bit', 'char') THEN 'RTRIM(CONVERT(VARCHAR(100),' + ISNULL(@Alias + '.', '') + C.name +'))'
									ELSE ISNULL(@Alias + '.', '') + C.name
								END)
							 FROM sys.columns AS C
							 INNER JOIN sys.types AS Tp ON Tp.system_type_id = C.system_type_id AND Tp.user_type_id = C.user_type_id
						     WHERE object_id = @idTable
						     ORDER BY column_id
						     FOR XML PATH('')
						     ), 1, 7, ''
						) AS Campos)
	RETURN(@strFields);
END;
GO
/****** Object:  Table [Reportes].[VentasCentralizado]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Reportes].[VentasCentralizado](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[montoTotal] [int] NOT NULL,
	[fecha] [date] NOT NULL,
	[idPeaje] [smallint] NOT NULL,
	[idRuta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Reportes].[ventasTotalesXDia]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Reportes].[ventasTotalesXDia]
AS
    SELECT fecha, SUM(montoTotal) as ventasTotales
    FROM [Reportes].[VentasCentralizado]
    GROUP BY fecha;
GO
/****** Object:  Table [Catalogos].[Carreteras]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos].[Carreteras](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Reportes].[ventasTotalesXCarretera]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Reportes].[ventasTotalesXCarretera]
AS
    SELECT Ventas.fecha, C.nombre, SUM(Ventas.montoTotal) as ventasTotales
    FROM [Reportes].[VentasCentralizado] as Ventas
    INNER JOIN [Catalogos].Carreteras as C ON C.id = Ventas.idRuta
    GROUP BY Ventas.fecha, C.nombre;
GO
/****** Object:  Table [Catalogos].[Peajes]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos].[Peajes](
	[id] [smallint] NOT NULL,
	[idCarretera] [int] NOT NULL,
	[direccion] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Reportes].[ventasTotalesXPeaje]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [Reportes].[ventasTotalesXPeaje]
AS
    SELECT Ventas.fecha, P.descripcion, SUM(Ventas.montoTotal) as ventasTotales
    FROM [Reportes].[VentasCentralizado] as Ventas
    INNER JOIN [Catalogos].Peajes as P ON P.id = Ventas.idPeaje
    GROUP BY Ventas.fecha, P.descripcion;
GO
/****** Object:  Table [Catalogos].[categVehiculos]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos].[categVehiculos](
	[id] [tinyint] NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogos].[Tarifas]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos].[Tarifas](
	[idRuta] [int] NOT NULL,
	[tipoVehiculo] [tinyint] NOT NULL,
	[monto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRuta] ASC,
	[tipoVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Catalogos].[Carreteras] ([id], [nombre], [descripcion]) VALUES (1, N'Escazu', N'RUTA 27 KM 80')
INSERT [Catalogos].[Carreteras] ([id], [nombre], [descripcion]) VALUES (2, N'ATHENAS', N'RUTA 27 KM 60')
INSERT [Catalogos].[Carreteras] ([id], [nombre], [descripcion]) VALUES (3, N'RIO CLARO', N'RUTA 27 KM 40')
GO
INSERT [Catalogos].[categVehiculos] ([id], [descripcion]) VALUES (1, N'MOTO')
INSERT [Catalogos].[categVehiculos] ([id], [descripcion]) VALUES (2, N'LIVIANO')
INSERT [Catalogos].[categVehiculos] ([id], [descripcion]) VALUES (3, N'BUS')
GO
INSERT [Catalogos].[Peajes] ([id], [idCarretera], [direccion], [descripcion]) VALUES (1, 1, N'N', N'PEAJE 1 ESCAZU')
INSERT [Catalogos].[Peajes] ([id], [idCarretera], [direccion], [descripcion]) VALUES (2, 1, N'N', N'PEAJE 2 ESCAZU')
INSERT [Catalogos].[Peajes] ([id], [idCarretera], [direccion], [descripcion]) VALUES (3, 1, N'N', N'PEAJE 3 ESCAZU')
GO
INSERT [Catalogos].[Tarifas] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 1, 1000)
INSERT [Catalogos].[Tarifas] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 2, 2000)
INSERT [Catalogos].[Tarifas] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 3, 3000)
GO
SET IDENTITY_INSERT [Reportes].[VentasCentralizado] ON 

INSERT [Reportes].[VentasCentralizado] ([id], [montoTotal], [fecha], [idPeaje], [idRuta]) VALUES (1, 3000, CAST(N'2024-08-20' AS Date), 1, 1)
INSERT [Reportes].[VentasCentralizado] ([id], [montoTotal], [fecha], [idPeaje], [idRuta]) VALUES (2, 6000, CAST(N'2024-08-20' AS Date), 2, 1)
INSERT [Reportes].[VentasCentralizado] ([id], [montoTotal], [fecha], [idPeaje], [idRuta]) VALUES (3, 3000, CAST(N'2024-08-20' AS Date), 3, 1)
SET IDENTITY_INSERT [Reportes].[VentasCentralizado] OFF
GO
ALTER TABLE [Catalogos].[Peajes]  WITH CHECK ADD  CONSTRAINT [FK_Peajes_Carreteras] FOREIGN KEY([idCarretera])
REFERENCES [Catalogos].[Carreteras] ([id])
GO
ALTER TABLE [Catalogos].[Peajes] CHECK CONSTRAINT [FK_Peajes_Carreteras]
GO
ALTER TABLE [Catalogos].[Tarifas]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_CategVehiculos_id] FOREIGN KEY([tipoVehiculo])
REFERENCES [Catalogos].[categVehiculos] ([id])
GO
ALTER TABLE [Catalogos].[Tarifas] CHECK CONSTRAINT [FK_Tarifas_CategVehiculos_id]
GO
ALTER TABLE [Catalogos].[Tarifas]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_Ruta_id] FOREIGN KEY([idRuta])
REFERENCES [Catalogos].[Carreteras] ([id])
GO
ALTER TABLE [Catalogos].[Tarifas] CHECK CONSTRAINT [FK_Tarifas_Ruta_id]
GO
ALTER TABLE [Reportes].[VentasCentralizado]  WITH CHECK ADD  CONSTRAINT [FK_ventasCentralizado_Carreteras_Id] FOREIGN KEY([idRuta])
REFERENCES [Catalogos].[Carreteras] ([id])
GO
ALTER TABLE [Reportes].[VentasCentralizado] CHECK CONSTRAINT [FK_ventasCentralizado_Carreteras_Id]
GO
ALTER TABLE [Reportes].[VentasCentralizado]  WITH CHECK ADD  CONSTRAINT [FK_ventasCentralizado_Peajes_Id] FOREIGN KEY([idPeaje])
REFERENCES [Catalogos].[Peajes] ([id])
GO
ALTER TABLE [Reportes].[VentasCentralizado] CHECK CONSTRAINT [FK_ventasCentralizado_Peajes_Id]
GO
ALTER TABLE [Catalogos].[Peajes]  WITH CHECK ADD  CONSTRAINT [CHK_DIRECCION] CHECK  (([direccion]='O' OR [direccion]='E' OR [direccion]='S' OR [direccion]='N'))
GO
ALTER TABLE [Catalogos].[Peajes] CHECK CONSTRAINT [CHK_DIRECCION]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTriggers]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_CreateTriggers]
	@schema VARCHAR(100),
	@table VARCHAR(100),
	@createAction BIT
AS
BEGIN
	DECLARE @strTRG VARCHAR(8000)
	SET @strTRG = 
		'CREATE TRIGGER [' + UPPER(RTRIM(@schema)) + '].[TRG_' + UPPER(RTRIM(@table)) + ']
		   ON  [' + UPPER(RTRIM(@schema)) + '].[' + UPPER(RTRIM(@table)) + ']
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='+ CHAR(39) + 'U' + CHAR(39) + '
				 ELSE --Si es un insert
					SELECT @Type = '+ CHAR(39) + 'I' + CHAR(39) +'
				 ELSE --Si es un delete
					SELECT @Type = '+ CHAR(39) + 'D' + CHAR(39) +'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), ' + CHAR(39) + RTRIM(@table) + CHAR(39) + ' , 
					ISNULL(' + dbo.fnTableFields(@table, 'D') + ',' + CHAR(39) + '-' + CHAR(39) + '), 
					ISNULL(' + dbo.fnTableFields(@table, 'I') + ',' + CHAR(39) + '-' + CHAR(39) + '), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON ' + STUFF((SELECT ' AND ' + 'D.' + RTRIM(COLUMN_NAME) + ' = I.' + RTRIM(COLUMN_NAME)
																	FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE 
																	WHERE	TABLE_NAME = @table AND CONSTRAINT_NAME LIKE 'PK%'
																	FOR XML PATH('')),1,5,'') + '
			  
		END'

	SELECT @strTRG

	IF @createAction = 1
	BEGIN
		IF EXISTS(SELECT * FROM SYS.SYSOBJECTS WHERE name = 'TRG_' + UPPER(RTRIM(@table)))
		BEGIN
			DECLARE @Qry VARCHAR(50)
			SET @Qry = 'DROP TRIGGER [' + UPPER(RTRIM(@schema)) + '].[TRG_' + UPPER(RTRIM(@table)) + ']'
				EXEC sp_sqlexec @Qry
		END
		EXEC sp_sqlexec @strTRG
	END
END
GO
/****** Object:  Trigger [Catalogos].[TRG_CARRETERAS]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos].[TRG_CARRETERAS]
		   ON  [Catalogos].[Carreteras]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'carreteras' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ D.nombre +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ I.nombre +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos].[Carreteras] ENABLE TRIGGER [TRG_CARRETERAS]
GO
/****** Object:  Trigger [Catalogos].[trg_ReplicateCarreteras]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [Catalogos].[trg_ReplicateCarreteras]
ON [Catalogos].[Carreteras]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    --INSERCION
    IF EXISTS (SELECT * FROM inserted) AND NOT(EXISTS(SELECT * FROM deleted))
    BEGIN
        INSERT INTO [OPERACIONES].[Catalogos_Replicas].[Carreteras_Replica]
        SELECT *
        FROM inserted;
    END

    --ACTUALIZACION
    IF EXISTS ( SELECT * FROM inserted ) AND EXISTS(SELECT * FROM deleted) 
    BEGIN
        UPDATE [OPERACIONES].[Catalogos_Replicas].[Carreteras_Replica]
        SET
            id = i.id,
            nombre = i.nombre,
            descripcion = i.descripcion
        FROM inserted i
        INNER JOIN [OPERACIONES].[Catalogos_Replicas].[Carreteras_Replica] AS CR
        ON i.id = CR.id;
    END
    
    --ELIMINACION
    IF EXISTS (SELECT * FROM deleted) AND NOT(EXISTS(SELECT * FROM inserted))
    BEGIN
        DELETE FROM [OPERACIONES].[Catalogos_Replicas].[Carreteras_Replica]
        WHERE id IN (SELECT id FROM deleted);
    END
END;

GO
ALTER TABLE [Catalogos].[Carreteras] ENABLE TRIGGER [trg_ReplicateCarreteras]
GO
/****** Object:  Trigger [Catalogos].[TRG_CATEGVEHICULOS]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos].[TRG_CATEGVEHICULOS]
		   ON  [Catalogos].[categVehiculos]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'categVehiculos' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos].[categVehiculos] ENABLE TRIGGER [TRG_CATEGVEHICULOS]
GO
/****** Object:  Trigger [Catalogos].[trg_ReplicateCategVehiculos]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [Catalogos].[trg_ReplicateCategVehiculos]
ON [Catalogos].[categVehiculos]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    --INSERCION
    IF EXISTS (SELECT * FROM inserted) AND NOT(EXISTS(SELECT * FROM deleted))
    BEGIN
        INSERT INTO [OPERACIONES].[Catalogos_Replicas].[CategVehiculos_Replica]
        SELECT *
        FROM inserted;
    END

    --ACTUALIZACION
    IF EXISTS ( SELECT * FROM inserted ) AND EXISTS(SELECT * FROM deleted) 
    BEGIN
        UPDATE [OPERACIONES].[Catalogos_Replicas].[CategVehiculos_Replica]
        SET
            id = i.id,
            descripcion = i.descripcion
        FROM inserted i
        INNER JOIN [OPERACIONES].[Catalogos_Replicas].[CategVehiculos_Replica] AS CVR
        ON i.id = CVR.id;
    END

    --ELIMINACION
    IF EXISTS (SELECT * FROM deleted) AND NOT(EXISTS(SELECT * FROM inserted))
    BEGIN
        DELETE FROM [OPERACIONES].[Catalogos_Replicas].[CategVehiculos_Replica]
        WHERE id IN (SELECT id FROM deleted);
    END
END;

GO
ALTER TABLE [Catalogos].[categVehiculos] ENABLE TRIGGER [trg_ReplicateCategVehiculos]
GO
/****** Object:  Trigger [Catalogos].[TRG_PEAJES]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos].[TRG_PEAJES]
		   ON  [Catalogos].[Peajes]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'peajes' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ RTRIM(CONVERT(VARCHAR(100),D.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),D.direccion)) +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ RTRIM(CONVERT(VARCHAR(100),I.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),I.direccion)) +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos].[Peajes] ENABLE TRIGGER [TRG_PEAJES]
GO
/****** Object:  Trigger [Catalogos].[trg_ReplicatePeajes]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [Catalogos].[trg_ReplicatePeajes]
ON [Catalogos].[Peajes]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    --INSERCION
    IF EXISTS (SELECT * FROM inserted) AND NOT(EXISTS(SELECT * FROM deleted))
    BEGIN
        INSERT INTO [OPERACIONES].[Catalogos_Replicas].[Peajes_Replica]
        SELECT *
        FROM inserted;
    END

    --ACTUALIZACION
    IF EXISTS ( SELECT * FROM inserted ) AND EXISTS(SELECT * FROM deleted) 
    BEGIN
        UPDATE [OPERACIONES].[Catalogos_Replicas].[Peajes_Replica]
        SET
            id = i.id,
            idCarretera = i.idCarretera,
            direccion = i.direccion,
            descripcion = i.descripcion
        FROM inserted i
        INNER JOIN [OPERACIONES].[Catalogos_Replicas].[Peajes_Replica] AS PR
        ON i.id = PR.id;
    END

    --ELIMINACION
    IF EXISTS (SELECT * FROM deleted) AND NOT(EXISTS(SELECT * FROM inserted))
    BEGIN
        DELETE FROM [OPERACIONES].[Catalogos_Replicas].[Peajes_Replica]
        WHERE id IN (SELECT id FROM deleted);
    END
END;

GO
ALTER TABLE [Catalogos].[Peajes] ENABLE TRIGGER [trg_ReplicatePeajes]
GO
/****** Object:  Trigger [Catalogos].[trg_ReplicateTarifas]    Script Date: 21/8/2024 19:00:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [Catalogos].[trg_ReplicateTarifas]
ON [Catalogos].[Tarifas]
AFTER INSERT, UPDATE, DELETE
AS
BEGIN

    --INSERCION
    IF EXISTS (SELECT * FROM inserted) AND NOT(EXISTS(SELECT * FROM deleted))
    BEGIN
        INSERT INTO [OPERACIONES].[Catalogos_Replicas].[Tarifas_Replica]
        SELECT *
        FROM inserted;
    END

    --ACTUALIZACION
    IF EXISTS ( SELECT * FROM inserted ) AND EXISTS(SELECT * FROM deleted) 
    BEGIN
        UPDATE [OPERACIONES].[Catalogos_Replicas].[Tarifas_Replica]
        SET
            idRuta = i.idRuta,
            tipoVehiculo = i.tipoVehiculo,
            monto = i.monto
        FROM inserted i
        INNER JOIN [OPERACIONES].[Catalogos_Replicas].[Tarifas_Replica] AS TR
        ON i.idRuta = TR.idRuta AND i.tipoVehiculo = TR.tipoVehiculo;
    END

    --ELIMINACION
    IF EXISTS (SELECT * FROM deleted) AND NOT(EXISTS(SELECT * FROM inserted))
    BEGIN
        DELETE FROM [OPERACIONES].[Catalogos_Replicas].[Tarifas_Replica]
        WHERE idRuta IN (SELECT idRuta FROM deleted) AND tipoVehiculo IN (SELECT tipoVehiculo FROM deleted);
    END
END;

GO
ALTER TABLE [Catalogos].[Tarifas] ENABLE TRIGGER [trg_ReplicateTarifas]
GO
/****** Object:  Trigger [Catalogos].[TRG_TARIFAS]    Script Date: 21/8/2024 19:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos].[TRG_TARIFAS]
		   ON  [Catalogos].[Tarifas]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'tarifas' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.idRuta)) +','+ RTRIM(CONVERT(VARCHAR(100),D.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),D.monto)),'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.idRuta)) +','+ RTRIM(CONVERT(VARCHAR(100),I.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),I.monto)),'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.idRuta = I.idRuta AND D.tipoVehiculo = I.tipoVehiculo
			  
		END
GO
ALTER TABLE [Catalogos].[Tarifas] ENABLE TRIGGER [TRG_TARIFAS]
GO
/****** Object:  Trigger [Reportes].[TRG_VENTASCENTRALIZADO]    Script Date: 21/8/2024 19:00:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Reportes].[TRG_VENTASCENTRALIZADO]
		   ON  [Reportes].[VentasCentralizado]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'ventasCentralizado' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ RTRIM(CONVERT(VARCHAR(100),D.montoTotal)) +','+ RTRIM(CONVERT(VARCHAR(100),D.fecha)) +','+ RTRIM(CONVERT(VARCHAR(100),D.idPeaje)) +','+ RTRIM(CONVERT(VARCHAR(100),D.idRuta)),'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ RTRIM(CONVERT(VARCHAR(100),I.montoTotal)) +','+ RTRIM(CONVERT(VARCHAR(100),I.fecha)) +','+ RTRIM(CONVERT(VARCHAR(100),I.idPeaje)) +','+ RTRIM(CONVERT(VARCHAR(100),I.idRuta)),'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Reportes].[VentasCentralizado] ENABLE TRIGGER [TRG_VENTASCENTRALIZADO]
GO
USE [master]
GO
