USE [master]
GO
/****** Object:  Database [OPERACIONES]    Script Date: 21/8/2024 19:03:34 ******/
CREATE DATABASE [OPERACIONES]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OPERACIONES', FILENAME = N'/var/opt/mssql/data/OPERACIONES.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OPERACIONES_log', FILENAME = N'/var/opt/mssql/data/OPERACIONES_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OPERACIONES].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OPERACIONES]
GO
/****** Object:  User [CAJ02]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [CAJ02] FOR LOGIN [CAJERO_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [CAJ01]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [CAJ01] FOR LOGIN [CAJERO_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADT02]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [ADT02] FOR LOGIN [AUDITOR_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADT01]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [ADT01] FOR LOGIN [AUDITOR_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM02]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [ADM02] FOR LOGIN [ADMIN_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM01]    Script Date: 21/8/2024 19:03:35 ******/
CREATE USER [ADM01] FOR LOGIN [ADMIN_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  DatabaseRole [CAJERO]    Script Date: 21/8/2024 19:03:35 ******/
CREATE ROLE [CAJERO]
GO
/****** Object:  DatabaseRole [AUDITOR]    Script Date: 21/8/2024 19:03:35 ******/
CREATE ROLE [AUDITOR]
GO
/****** Object:  DatabaseRole [ADMIN]    Script Date: 21/8/2024 19:03:35 ******/
CREATE ROLE [ADMIN]
GO
ALTER ROLE [CAJERO] ADD MEMBER [CAJ02]
GO
ALTER ROLE [CAJERO] ADD MEMBER [CAJ01]
GO
ALTER ROLE [AUDITOR] ADD MEMBER [ADT02]
GO
ALTER ROLE [AUDITOR] ADD MEMBER [ADT01]
GO
ALTER ROLE [ADMIN] ADD MEMBER [ADM02]
GO
ALTER ROLE [ADMIN] ADD MEMBER [ADM01]
GO
/****** Object:  Schema [Catalogos_Replicas]    Script Date: 21/8/2024 19:03:35 ******/
CREATE SCHEMA [Catalogos_Replicas]
GO
/****** Object:  Schema [Pagos]    Script Date: 21/8/2024 19:03:35 ******/
CREATE SCHEMA [Pagos]
GO
/****** Object:  UserDefinedFunction [dbo].[fnTableFields]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- CREA funci�n de campos de una tabla
CREATE FUNCTION [dbo].[fnTableFields] (@Table VARCHAR(MAX), @Alias VARCHAR(10) = NULL)
	RETURNS VARCHAR(MAX)
AS
BEGIN
	DECLARE @idTable INT, @strFields VARCHAR(MAX);

	SET @idTable = (SELECT sObj.id FROM sys.sysobjects AS sObj WHERE name = @Table);

	SET @strFields = (SELECT STUFF( 
							(SELECT CAST(' +' + CHAR(39)+ ',' + CHAR(39) + '+ ' AS varchar(MAX)),  
								(CASE  
									WHEN tp.name IN ('bigint','smallint', 'int', 'smalldatetime', 'tinyint', 'numeric', 'datetime', 'date', 'time', 'bit', 'char') THEN 'RTRIM(CONVERT(VARCHAR(100),' + ISNULL(@Alias + '.', '') + C.name +'))'
									ELSE ISNULL(@Alias + '.', '') + C.name
								END)
							 FROM sys.columns AS C
							 INNER JOIN sys.types AS Tp ON Tp.system_type_id = C.system_type_id AND Tp.user_type_id = C.user_type_id
						     WHERE object_id = @idTable
						     ORDER BY column_id
						     FOR XML PATH('')
						     ), 1, 7, ''
						) AS Campos)
	RETURN(@strFields);
END;
GO
/****** Object:  Table [Pagos].[tiquetes]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Pagos].[tiquetes](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[fecha] [date] NOT NULL,
	[hora] [time](7) NULL,
	[placa] [varchar](6) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[idCarretera] [int] NOT NULL,
	[idPeaje] [smallint] NOT NULL,
	[tipoVehiculo] [tinyint] NOT NULL,
	[monto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [Pagos].[tiquetesMontoSumadoXPeaje]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [Pagos].[tiquetesMontoSumadoXPeaje]
AS
    SELECT idCarretera as idRuta, fecha, idPeaje, SUM(monto) as montoTotal
    FROM [Pagos].tiquetes
    GROUP BY idCarretera, idPeaje, fecha;
GO
/****** Object:  Table [Catalogos_Replicas].[Carreteras_Replica]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos_Replicas].[Carreteras_Replica](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogos_Replicas].[CategVehiculos_Replica]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos_Replicas].[CategVehiculos_Replica](
	[id] [tinyint] NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogos_Replicas].[Peajes_Replica]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos_Replicas].[Peajes_Replica](
	[id] [smallint] NOT NULL,
	[idCarretera] [int] NOT NULL,
	[direccion] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[descripcion] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Catalogos_Replicas].[Tarifas_Replica]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Catalogos_Replicas].[Tarifas_Replica](
	[idRuta] [int] NOT NULL,
	[tipoVehiculo] [tinyint] NOT NULL,
	[monto] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRuta] ASC,
	[tipoVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [Catalogos_Replicas].[Carreteras_Replica] ([id], [nombre], [descripcion]) VALUES (1, N'Escazu', N'RUTA 27 KM 80')
INSERT [Catalogos_Replicas].[Carreteras_Replica] ([id], [nombre], [descripcion]) VALUES (2, N'ATHENAS', N'RUTA 27 KM 60')
INSERT [Catalogos_Replicas].[Carreteras_Replica] ([id], [nombre], [descripcion]) VALUES (3, N'RIO CLARO', N'RUTA 27 KM 40')
GO
INSERT [Catalogos_Replicas].[CategVehiculos_Replica] ([id], [descripcion]) VALUES (1, N'MOTO')
INSERT [Catalogos_Replicas].[CategVehiculos_Replica] ([id], [descripcion]) VALUES (2, N'LIVIANO')
INSERT [Catalogos_Replicas].[CategVehiculos_Replica] ([id], [descripcion]) VALUES (3, N'BUS')
GO
INSERT [Catalogos_Replicas].[Peajes_Replica] ([id], [idCarretera], [direccion], [descripcion]) VALUES (1, 1, N'N', N'PEAJE 1 ESCAZU')
INSERT [Catalogos_Replicas].[Peajes_Replica] ([id], [idCarretera], [direccion], [descripcion]) VALUES (2, 1, N'N', N'PEAJE 2 ESCAZU')
INSERT [Catalogos_Replicas].[Peajes_Replica] ([id], [idCarretera], [direccion], [descripcion]) VALUES (3, 1, N'N', N'PEAJE 3 ESCAZU')
GO
INSERT [Catalogos_Replicas].[Tarifas_Replica] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 1, 1000)
INSERT [Catalogos_Replicas].[Tarifas_Replica] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 2, 2000)
INSERT [Catalogos_Replicas].[Tarifas_Replica] ([idRuta], [tipoVehiculo], [monto]) VALUES (1, 3, 3000)
GO
SET IDENTITY_INSERT [Pagos].[tiquetes] ON 

INSERT [Pagos].[tiquetes] ([id], [fecha], [hora], [placa], [idCarretera], [idPeaje], [tipoVehiculo], [monto]) VALUES (1, CAST(N'2024-08-20' AS Date), CAST(N'00:53:25.4500000' AS Time), N'ABC123', 1, 1, 1, 1000)
INSERT [Pagos].[tiquetes] ([id], [fecha], [hora], [placa], [idCarretera], [idPeaje], [tipoVehiculo], [monto]) VALUES (2, CAST(N'2024-08-20' AS Date), CAST(N'00:53:25.4633333' AS Time), N'DEF456', 1, 2, 2, 2000)
INSERT [Pagos].[tiquetes] ([id], [fecha], [hora], [placa], [idCarretera], [idPeaje], [tipoVehiculo], [monto]) VALUES (3, CAST(N'2024-08-20' AS Date), CAST(N'00:53:25.4666667' AS Time), N'GHI789', 1, 3, 3, 3000)
SET IDENTITY_INSERT [Pagos].[tiquetes] OFF
GO
ALTER TABLE [Catalogos_Replicas].[Peajes_Replica]  WITH CHECK ADD  CONSTRAINT [FK_Peajes_Carreteras_Replica] FOREIGN KEY([idCarretera])
REFERENCES [Catalogos_Replicas].[Carreteras_Replica] ([id])
GO
ALTER TABLE [Catalogos_Replicas].[Peajes_Replica] CHECK CONSTRAINT [FK_Peajes_Carreteras_Replica]
GO
ALTER TABLE [Catalogos_Replicas].[Tarifas_Replica]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_Carretera_replica_id] FOREIGN KEY([idRuta])
REFERENCES [Catalogos_Replicas].[Carreteras_Replica] ([id])
GO
ALTER TABLE [Catalogos_Replicas].[Tarifas_Replica] CHECK CONSTRAINT [FK_Tarifas_Carretera_replica_id]
GO
ALTER TABLE [Catalogos_Replicas].[Tarifas_Replica]  WITH CHECK ADD  CONSTRAINT [FK_Tarifas_CategVehiculos_replica_id] FOREIGN KEY([tipoVehiculo])
REFERENCES [Catalogos_Replicas].[CategVehiculos_Replica] ([id])
GO
ALTER TABLE [Catalogos_Replicas].[Tarifas_Replica] CHECK CONSTRAINT [FK_Tarifas_CategVehiculos_replica_id]
GO
ALTER TABLE [Pagos].[tiquetes]  WITH CHECK ADD  CONSTRAINT [FK_Tiquetes_Carreteras_Replica] FOREIGN KEY([idCarretera])
REFERENCES [Catalogos_Replicas].[Carreteras_Replica] ([id])
GO
ALTER TABLE [Pagos].[tiquetes] CHECK CONSTRAINT [FK_Tiquetes_Carreteras_Replica]
GO
ALTER TABLE [Pagos].[tiquetes]  WITH CHECK ADD  CONSTRAINT [FK_Tiquetes_CategVehiculos_replica_id] FOREIGN KEY([tipoVehiculo])
REFERENCES [Catalogos_Replicas].[CategVehiculos_Replica] ([id])
GO
ALTER TABLE [Pagos].[tiquetes] CHECK CONSTRAINT [FK_Tiquetes_CategVehiculos_replica_id]
GO
ALTER TABLE [Pagos].[tiquetes]  WITH CHECK ADD  CONSTRAINT [FK_Tiquetes_Peajes_replica_id] FOREIGN KEY([idPeaje])
REFERENCES [Catalogos_Replicas].[Peajes_Replica] ([id])
GO
ALTER TABLE [Pagos].[tiquetes] CHECK CONSTRAINT [FK_Tiquetes_Peajes_replica_id]
GO
ALTER TABLE [Catalogos_Replicas].[Peajes_Replica]  WITH CHECK ADD  CONSTRAINT [CHK_DIRECCION_Peajes_replica] CHECK  (([direccion]='O' OR [direccion]='E' OR [direccion]='S' OR [direccion]='N'))
GO
ALTER TABLE [Catalogos_Replicas].[Peajes_Replica] CHECK CONSTRAINT [CHK_DIRECCION_Peajes_replica]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateTriggers]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- CREA EL PROCEDIMIENTO ALMACENADO PARA CREAR TRIGGERS
CREATE PROCEDURE [dbo].[sp_CreateTriggers]
	@schema VARCHAR(100),
	@table VARCHAR(100),
	@createAction BIT
AS
BEGIN
	DECLARE @strTRG VARCHAR(8000)
	SET @strTRG = 
		'CREATE TRIGGER [' + UPPER(RTRIM(@schema)) + '].[TRG_' + UPPER(RTRIM(@table)) + ']
		   ON  [' + UPPER(RTRIM(@schema)) + '].[' + UPPER(RTRIM(@table)) + ']
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='+ CHAR(39) + 'U' + CHAR(39) + '
				 ELSE --Si es un insert
					SELECT @Type = '+ CHAR(39) + 'I' + CHAR(39) +'
				 ELSE --Si es un delete
					SELECT @Type = '+ CHAR(39) + 'D' + CHAR(39) +'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), ' + CHAR(39) + RTRIM(@table) + CHAR(39) + ' , 
					ISNULL(' + dbo.fnTableFields(@table, 'D') + ',' + CHAR(39) + '-' + CHAR(39) + '), 
					ISNULL(' + dbo.fnTableFields(@table, 'I') + ',' + CHAR(39) + '-' + CHAR(39) + '), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON ' + STUFF((SELECT ' AND ' + 'D.' + RTRIM(COLUMN_NAME) + ' = I.' + RTRIM(COLUMN_NAME)
																	FROM INFORMATION_SCHEMA.KEY_COLUMN_USAGE 
																	WHERE	TABLE_NAME = @table AND CONSTRAINT_NAME LIKE 'PK%'
																	FOR XML PATH('')),1,5,'') + '
			  
		END'

	SELECT @strTRG

	IF @createAction = 1
	BEGIN
		IF EXISTS(SELECT * FROM SYS.SYSOBJECTS WHERE name = 'TRG_' + UPPER(RTRIM(@table)))
		BEGIN
			DECLARE @Qry VARCHAR(50)
			SET @Qry = 'DROP TRIGGER [' + UPPER(RTRIM(@schema)) + '].[TRG_' + UPPER(RTRIM(@table)) + ']'
				EXEC sp_sqlexec @Qry
		END
		EXEC sp_sqlexec @strTRG
	END
END
GO
/****** Object:  StoredProcedure [Pagos].[sp_crearTiquete]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Pagos].[sp_crearTiquete]
    @placa VARCHAR(6),
    @idPeaje SMALLINT,
    @tipoVehiculo TINYINT,
    @fecha date = NULL
AS
BEGIN
    DECLARE @idCarretera INT;

    SELECT @idCarretera = idCarretera FROM [Catalogos_Replicas].[Peajes_Replica] WHERE id = @idPeaje

    DECLARE @MONTO INT;

    SELECT @MONTO = monto
    FROM [Catalogos_Replicas].[Tarifas_Replica]
    WHERE idRuta = @idCarretera AND tipoVehiculo = @tipoVehiculo;

    IF (@MONTO IS NULL)
    BEGIN
        RAISERROR('Error: Tarifa no ha sido creada', 16, 1);
    END
    ELSE
    BEGIN
        IF @fecha IS NULL 
        BEGIN
            SET @fecha = CAST(GETDATE() AS DATE);
        END
        
        DECLARE @Hora TIME;

        
        SET @Hora = CAST(GETDATE() AS TIME);


        INSERT INTO [Pagos].[tiquetes]
            (fecha, hora, placa, idCarretera, idPeaje, tipoVehiculo, monto)
        VALUES
            (@fecha, @Hora, @placa, @idCarretera, @idPeaje, @tipoVehiculo, @MONTO)
    END



END;
GO
/****** Object:  StoredProcedure [Pagos].[sp_generarReporteVentasCentralizado]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [Pagos].[sp_generarReporteVentasCentralizado]
    @Fecha date
AS
BEGIN

    IF EXISTS( SELECT 1
    FROM [CENTRAL].Reportes.VentasCentralizado
    WHERE fecha = @Fecha)
    BEGIN


        --ACTUALIZAR REPORTES DE PEAJES YA GENERADOS
        UPDATE Ventas
        SET Ventas.montoTotal = tickets.montoTotal
        FROM [CENTRAL].[Reportes].[VentasCentralizado] AS Ventas
        INNER JOIN (SELECT * FROM [Pagos].tiquetesMontoSumadoXPeaje AS resumenttickets WHERE resumenttickets.fecha = @fecha) AS tickets 
        ON Ventas.idPeaje = tickets.idPeaje AND Ventas.idRuta = tickets.idRuta AND Ventas.fecha = tickets.fecha
        WHERE Ventas.montoTotal <  tickets.montoTotal;

        --INSERTA LOS REPORTES DE PEAJES AUN SIN GENERAR
        INSERT INTO [CENTRAL].[Reportes].[VentasCentralizado] ( idRuta, fecha, idPeaje, montoTotal )
            SELECT idCarretera as idRuta, fecha, idPeaje, SUM(monto) as montoTotal
            FROM [Pagos].tiquetes AS tickets
            WHERE tickets.fecha = @Fecha AND 
                NOT EXISTS(
                    SELECT 1 FROM [CENTRAL].[Reportes].VentasCentralizado AS Ventas 
                    WHERE Ventas.idPeaje = tickets.idPeaje AND Ventas.idRuta = tickets.idCarretera AND Ventas.fecha = @Fecha
                )
            GROUP BY tickets.idCarretera, tickets.idPeaje, tickets.fecha;
    END
    ELSE
    BEGIN

        -- SI NO HAY REPORTES DE LA FECHA INDICADA LOS GENERA
        INSERT INTO [CENTRAL].[Reportes].[VentasCentralizado]
            ( idRuta, fecha, idPeaje, montoTotal )
        SELECT * FROM [Pagos].tiquetesMontoSumadoXPeaje
        WHERE fecha = @Fecha;
    END
END

-- exec [pagos].[sp_generarReporteVentasCentralizado] '2024-08-20';
GO
/****** Object:  Trigger [Catalogos_Replicas].[TRG_CARRETERAS_REPLICA]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos_Replicas].[TRG_CARRETERAS_REPLICA]
		   ON  [Catalogos_Replicas].[Carreteras_Replica]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'Carreteras_Replica' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ D.nombre +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ I.nombre +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos_Replicas].[Carreteras_Replica] ENABLE TRIGGER [TRG_CARRETERAS_REPLICA]
GO
/****** Object:  Trigger [Catalogos_Replicas].[TRG_CATEGVEHICULOS_REPLICA]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos_Replicas].[TRG_CATEGVEHICULOS_REPLICA]
		   ON  [Catalogos_Replicas].[CategVehiculos_Replica]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'CategVehiculos_Replica' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos_Replicas].[CategVehiculos_Replica] ENABLE TRIGGER [TRG_CATEGVEHICULOS_REPLICA]
GO
/****** Object:  Trigger [Catalogos_Replicas].[TRG_PEAJES_REPLICA]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos_Replicas].[TRG_PEAJES_REPLICA]
		   ON  [Catalogos_Replicas].[Peajes_Replica]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'Peajes_Replica' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ RTRIM(CONVERT(VARCHAR(100),D.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),D.direccion)) +','+ D.descripcion,'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ RTRIM(CONVERT(VARCHAR(100),I.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),I.direccion)) +','+ I.descripcion,'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Catalogos_Replicas].[Peajes_Replica] ENABLE TRIGGER [TRG_PEAJES_REPLICA]
GO
/****** Object:  Trigger [Catalogos_Replicas].[TRG_TARIFAS_REPLICA]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Catalogos_Replicas].[TRG_TARIFAS_REPLICA]
		   ON  [Catalogos_Replicas].[Tarifas_Replica]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'Tarifas_Replica' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.idRuta)) +','+ RTRIM(CONVERT(VARCHAR(100),D.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),D.monto)),'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.idRuta)) +','+ RTRIM(CONVERT(VARCHAR(100),I.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),I.monto)),'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.idRuta = I.idRuta AND D.tipoVehiculo = I.tipoVehiculo
			  
		END
GO
ALTER TABLE [Catalogos_Replicas].[Tarifas_Replica] ENABLE TRIGGER [TRG_TARIFAS_REPLICA]
GO
/****** Object:  Trigger [Pagos].[TRG_TIQUETES]    Script Date: 21/8/2024 19:03:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [Pagos].[TRG_TIQUETES]
		   ON  [Pagos].[tiquetes]
		   AFTER INSERT, UPDATE, DELETE
		AS
		BEGIN
			DECLARE @type CHAR(1)

			IF exists(SELECT * FROM inserted)
				IF exists(SELECT * FROM deleted) --Si es un update
					SELECT @Type='U'
				 ELSE --Si es un insert
					SELECT @Type = 'I'
				 ELSE --Si es un delete
					SELECT @Type = 'D'

			INSERT INTO [TLOG].[dbo].[TransationLog]
			SELECT	@type, @@SERVERNAME, DB_NAME(), 'tiquetes' , 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),D.id)) +','+ RTRIM(CONVERT(VARCHAR(100),D.fecha)) +','+ RTRIM(CONVERT(VARCHAR(100),D.hora)) +','+ D.placa +','+ RTRIM(CONVERT(VARCHAR(100),D.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),D.idPeaje)) +','+ RTRIM(CONVERT(VARCHAR(100),D.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),D.monto)),'-'), 
					ISNULL(RTRIM(CONVERT(VARCHAR(100),I.id)) +','+ RTRIM(CONVERT(VARCHAR(100),I.fecha)) +','+ RTRIM(CONVERT(VARCHAR(100),I.hora)) +','+ I.placa +','+ RTRIM(CONVERT(VARCHAR(100),I.idCarretera)) +','+ RTRIM(CONVERT(VARCHAR(100),I.idPeaje)) +','+ RTRIM(CONVERT(VARCHAR(100),I.tipoVehiculo)) +','+ RTRIM(CONVERT(VARCHAR(100),I.monto)),'-'), 
					SUSER_SNAME(), APP_NAME(), HOST_NAME(), GETDATE() 
			FROM inserted AS I
			FULL OUTER JOIN deleted AS D ON D.id = I.id
			  
		END
GO
ALTER TABLE [Pagos].[tiquetes] ENABLE TRIGGER [TRG_TIQUETES]
GO
USE [master]
GO
