USE [master]
GO
/****** Object:  Database [TLOG]    Script Date: 21/8/2024 19:05:37 ******/
CREATE DATABASE [TLOG]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TLOG', FILENAME = N'/var/opt/mssql/data/TLOG.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TLOG_log', FILENAME = N'/var/opt/mssql/data/TLOG_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 COLLATE SQL_Latin1_General_CP1_CI_AS
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TLOG].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TLOG]
GO
/****** Object:  User [CAJ02]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [CAJ02] FOR LOGIN [CAJERO_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [CAJ01]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [CAJ01] FOR LOGIN [CAJERO_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADT02]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [ADT02] FOR LOGIN [AUDITOR_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADT01]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [ADT01] FOR LOGIN [AUDITOR_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM02]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [ADM02] FOR LOGIN [ADMIN_02] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  User [ADM01]    Script Date: 21/8/2024 19:05:37 ******/
CREATE USER [ADM01] FOR LOGIN [ADMIN_01] WITH DEFAULT_SCHEMA=[DBO]
GO
/****** Object:  DatabaseRole [INSERCION_DATOS_BITACORA]    Script Date: 21/8/2024 19:05:37 ******/
CREATE ROLE [INSERCION_DATOS_BITACORA]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [CAJ02]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [CAJ01]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [ADT02]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [ADT01]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [ADM02]
GO
ALTER ROLE [INSERCION_DATOS_BITACORA] ADD MEMBER [ADM01]
GO
/****** Object:  Table [dbo].[TransationLog]    Script Date: 21/8/2024 19:05:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransationLog](
	[idTransaction] [int] IDENTITY(1,1) NOT NULL,
	[processType] [char](1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[srvName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[DBName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[table] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[oldRecord] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[newRecord] [varchar](max) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[userName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[appName] [varchar](200) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[PCName] [varchar](100) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
	[tstamp] [datetime] NOT NULL,
 CONSTRAINT [pk_idTransaction] PRIMARY KEY CLUSTERED 
(
	[idTransaction] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TransationLog] ON 

INSERT [dbo].[TransationLog] ([idTransaction], [processType], [srvName], [DBName], [table], [oldRecord], [newRecord], [userName], [appName], [PCName], [tstamp]) VALUES (1, N'I', N'ec9eef8c177b', N'CENTRAL', N'carreteras', N'-', N'4,OROTINA,RUTA 27 KM 20', N'sa', N'azdata', N'DESKTOP-MVEDTKB', CAST(N'2024-08-22T00:53:05.180' AS DateTime))
INSERT [dbo].[TransationLog] ([idTransaction], [processType], [srvName], [DBName], [table], [oldRecord], [newRecord], [userName], [appName], [PCName], [tstamp]) VALUES (2, N'I', N'ec9eef8c177b', N'CENTRAL', N'carreteras', N'-', N'3,RIO CLARO,RUTA 27 KM 40', N'sa', N'azdata', N'DESKTOP-MVEDTKB', CAST(N'2024-08-22T00:53:05.180' AS DateTime))
INSERT [dbo].[TransationLog] ([idTransaction], [processType], [srvName], [DBName], [table], [oldRecord], [newRecord], [userName], [appName], [PCName], [tstamp]) VALUES (3, N'I', N'ec9eef8c177b', N'CENTRAL', N'carreteras', N'-', N'2,ATHENAS,RUTA 27 KM 60', N'sa', N'azdata', N'DESKTOP-MVEDTKB', CAST(N'2024-08-22T00:53:05.180' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TransationLog] OFF
GO
USE [master]
GO
